/* ----------- GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


  
html {
    background-color: #FAFAFA;
}

body {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* MENU ------------------------ */

.menu {
    background-color: #ffffff;
    color: #262626;
    padding: 10px;
    font-family: "Roboto" 
}

.logo {
    padding: 12px;
    margin-bottom: 10px;
}

.navbar li {
    display: flex;
    align-items: center;
    padding: 12px 120px 12px 12px;
}

.navbar p {
    margin-left: 20px;
    font-size: 16px;
}


/* PROFILE ------------------------- */

.profile {
    background-color: #FAFAFA;
    color: #262626;
    flex-grow: 8;
}

.profile-pic {
    margin-right: 80px;
}

.header {
    display: flex;
    align-items: center;
    margin: 60px 0px 45px 60px;
}

.profile-info {
    margin: 14px 0px 14px 0px;
}

.title , .data {
    margin-bottom: 14px;
}

.title {
    display: flex;
   /*  align-items: center; */
}

.title h1 {
    font-size: 28px;
    font-weight: 400;
}

.follow {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background-color: #0095F6;
    border-radius: 4px;
    padding: 6px 24px 7px 24px;
    margin-left: 20px;
    align-self: center;
}

.icon {
    padding: 8px;
    margin-left: 10px;
}

.data {
    margin: 20px 0 20px 0px;
}

.data li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    font-size: 16px;
}

.number {
    font-weight: bold;
    margin-right: 5px;
}

.aditional-info {
    font-size: 16px;
    font-weight: 700;
}

/* STORIES ------------------ */

.carrousel { 
    display: flex;
    margin: 0px 0px 45px 45px;
    justify-content: left;
}

.stories {
    align-items: center;
    padding: 10px 20px;
    /* margin: 0 auto; */
}

.stories h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 15px 11px 0px 11px;
    text-align: center;
}

.avatar {
    width: 67px;
}


/* TABS ------------------------ */

/* .tabs li {
    list-style: none;
    display: inline;
    display: flex;
} */

.tabs {
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
}

.tabs a {
    display: flex;
    justify-content: center;
}

.tabs a:hover {
    border-top: 1px solid #262626;
}

.tabs p {
    font-size: 12px;
    font-weight: 500;
    margin-left: 6px;
}

.text {
    color: #8E8E8E;
    padding: 17px 40px 17px 0px;  
}

.text:hover {
    color: #262626;
}

#hidden {
    display: none;
}

.tabs a:hover > #hidden {
    display: inline;
}

.tabs a:hover > #hidden-hover {
    display: none;
}

/* 
img#hidden:hover {
    
} */

/* .tabs p:hover {
    color: #262626;
} */

/* 
.tabs li{
    list-style: none;
    display: flex;
    /* display: inline;
    padding: 17px 60px 17px 0px;
    background-color: antiquewhite; */

/* .tabs li {
        display: flex;
        align-items: center;
        padding: 17px 60px 17px 0px;
    }
    
    .tabs p {
        margin-left: 20px;
        font-size: 12px;
    } */
/* .tabs span {
    font-size: 12px;
    margin-left: 6px;
}

.tabs img {
    color: aqua; 
}
 */


/*  GALLERY ---------------- */

.gallery {
    /* display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
 
}

/* .gallery > div {
    background-color: #f1f1f1;
   /*  width: 10vw;
    margin: 10px; */

.photo {
    position: relative;
}
/*  features para display flex 
.photo img {
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
    /* width: calc((100% - 30px) / 3); */

.photo img {
    width: 100%;
}

.icon-photo {
    position: absolute; 
    top: 10px;
    right: 10px;
}

.icon-photo img {
    fill: #ffffff;
}

.visibisity {
    visibility: hidden;
}


/* FOOTER --------------------- */    

.footer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul{
    margin-bottom: 15px;
}

.footer li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.footer li a {
    color: #8E8E8E ;
    font-size: 12px;
}

#language {
    font-size: 12px;
    color: #8E8E8E;
    border-style: none;
    background-color: transparent;
    margin-left: -4px;

}

#language option {
    background-color: none;
    font-size: 12px;
}

